$font-family:sans-serif;
$Redcolor:#800000;
$emten:10em;
$emPadding1:1.8em;
$table-cell: table-cell;
$auto: auto;
$back-img:  url("../../../assets/images/forgot.png");
$relPosRelative: relative;
$relAbsolute:absolute;
$textalign: left;
$bold: bold;
$bolder:bolder;
$textCenter: center;
$fivehundredpx:500px;
$table: table;
$hundred-percent:100%;
$max-wdth:900px;
$white-color: #fff;
$box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
$twentyPixel:20px;
$zero: 0;
$texPixel:10px;
$eighteenPixel:18px;
$none:none;
$twenty-percent:20%;
$twenty-fice:25%;
$borderRadius:20px !important;
$fourhundred:400px;
$fourtyPixel:40px;
$sixtyPixel:60px;
$eightPixel:8px;
$fifteenPixel:15px;
$B-order: 1px solid #ccc;
$box-sizing:border-box;
$three95width:395px;
$transition: 0.3s;
$twentyEight:28px;
$negative75:-75px;
$three50Px:350px;
$green:green;
$red:red;
$onepxBorder: 1px solid;
$top:9px 8px;

