$Eight8Px: 8px;
$thirty30Px:30px;
$Ten10Px: 10px;
$hundredPercentagge: 100%;
$negative-50Px: -50px;
$Five500px:500px;
$twenty20px: 20px;
$important: 20px !important;
$MaroonCOlor: #800000;
$WhiteColor:#fff;
$fifteen15px:15px;
$fivce5Px:5px;
$Auto:auto;
$Twenty25Percent:25%;
$none: none;
$three360px:360px;
$two240px:240px;
$transparent:transparent;
$red:red;
$black:black;
$one1px:1px;
$border-here:1px solid #e3e3e3;
$grid: grid;
$grid-temp: 4fr 3fr 2fr;
$eightyPercent:80%;
$inherit_pos:inherit;
$twoHundredPX:200px;
$grey: grey;
