@import "./variables";
@import "./card";
@import "./inputfield";

$bordernon: none;
$bordersolid: solid 2px;
$marginleftright: auto;
$margintopbottom: 3em;
$titlemargin:237px;
$subtitlemargin:170px;
$bajracolor:#922724;
$flexdisp: flex;

.title {
  text-align: $leftTextalign;
  font-weight: $fontweight;
  margin: $marginleftright;
  margin-bottom: 30px;
  color: $bajracolor;
}
.creataccc{
  text-align: center;
}
.create-acc{
  text-align: center; 
  color: #800000 
}
.subtitle {
  text-align: $leftTextalign;
  font: weight $tenPx;
}
.cta-btn {
  background-color: $bajracolor;
  color: $primarycolor;
  padding: 18px $twentPX;
  margin-top: $tenPx;
  margin-bottom:  $twentPX;
  width: $percWidth;
  border-radius:  $tenPx;
  border: $bordernon;
}
.forget-pass{
  text-align: right; 
  color: #800000;
}
.email-login {
  display: $flexdisp;
  flex-direction: column;
  width: 400px;
}
.email-login label {
  color: rgb(170 166 166);
}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
  stroke: white;
}
@media (max-width:700px){
  .cta-btn {
 
    width: 50%;

  }

  .forget-pass{
    text-align: center; 
    color: #800000;
  }
  .creataccc{
    text-align: left;
  }
  .create-acc{
    text-align: left; 
    color: #800000 
  }
}