$font-family : sans-serif;
$primarycolor: #fff;
$fontweight: 500;
$textcontentitemalign :center;
$leftTextalign:left;
$margin: 0;
$display: inline-flex;
$gap: 5px;
$padding:10px;
$margin20px: 20px;
$valerr: #FF0000;
$pos:relative;
$valnoerr: #00FF00;
$stroke: white;
$bajracolor:#800000;
$tenPx: 10px;
$twentPX: 20px;
$fiftenPx: 15px;
$fortyPx: 40px;
$tenEm: 10em;
$eightPX:8px;
$backimage:  url("../../../assets/images/login.jpg");
$f6color:#ffffff;
$posRelative: relative;
$posabsolute:absolute;
$solid: solid;
$bordColor:#c00000;
$left:0;
$transition:0.3s;
$margi350:350;