  <!-- Header Section  -->
  <nav class="navbar d-flex navbar-light bg-light ">
    <div class="title d-flex justify-content-start"  >
    <a class="todo" routerLink="">TODO APP</a>
  </div>
    <div class="header-right d-flex justify-content-end ">
      <div class="example-button-container d-flex justify-content-end">
        <button mat-mini-fab disabled>
          <a style="color: #800000">BT</a>
        </button>
        <button type="button" mat-flat-button class="btn btn-light d-flex justify-content-end">
          <mat-icon matPrefix>logout</mat-icon> Logout
        </button>
      </div>
    </div>
  </nav>
  <!-- Date Section  -->

  <!-- <div class="midsection ">
    <div class="datesection d-flex justify-content-start">
     <h1> {{date}}
      <br>
      <h2 class="subtitle">You have to keep up the pace to accomplish your task in time 	<mat-icon>alarm</mat-icon> </h2>
     </h1>
    
 
    </div>
    <div class="buttonsection d-flex justify-content-end">
        <button class="addtask" mat-flat-button color="accent">Accent</button>
    </div>
  </div> -->

