$WhiteBackground:#ffffff;
$border: 1px solid #e3e3e3;
$tenPix: 10px;
$thirtyPercent:30%;
$tenPercent:10%;
$Color-grey:#828282;
$fiftyPixel:50px;
$oneEighty:180px;
$fivePix:5px;
$zeroPx:0px;
$hundredPercent:100%;
$black:black;
$grey:grey;
$negativeHundred:-100px;
$column: column;
$block:block;
$posRelative:relative;
$fourtyPercent:40%;
$negative70Px:-70px;
$eightyPx:80px;
$twentyPx:20px;
$negative20px:-20px;
$fifteenPx:15px;
