
$backgroundcolour:#FBFCFD;
$dashHeight:100%;
$dashWidth:99%;
$dashMarginR:180px;
$dashAddtaskcolor:#BE263B;
$dashMargintop:-100px;
$dash10px:10px;
$dash20px:20px;
$dashColor:#fff;
$dashMargin100:100px;