$signupmargintop:10em;
$signupbackgroundcolor:#ffffff;
$signupFont-family:sans-serif;
$signuptext-align:left;
$signupcolor:#800000;
$signupautofield:auto;
$signupAbspositon:absolute;
$signupRelposition: relative;
$signupwidth:400px;
$signuppadding:40px;
$signuperrorcolor:red;
$signupnoerrorcolor:green;
$hundredwidth:100%;
$backimg: url("../../../assets/images/login.jpg");
$twentypix:20px;
$texpix:10px;
$margin120:120px;