
$back-Color:#fbfcfd;
$hundredPercent:100%;
$bold:bold;
$eighty_percent:80%;
$seventyPx: 70px;
$tenPx: 10px;
$fourteenPx:14px;
$auto: auto;
$box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
$twentyFourPX:24px;
$MaroonColor:#800000;
$posRelatiive:relative;
$negThirty:-30px;
$hundredEighty:180px;
$xeroPx:0px;