<!-- Todays Task  -->

<div class="todaystaskwrapper">
  <h1 class="title">Task</h1>
  <div class="row d-flex flex-row justify-content-between flex-wrap">
    <div
      class="titlecards p-4 d-flex justify-content-start flex-row overview-card"
    >
      <div class="tasks">
        <div class="container" *ngFor="let items of taskData">
          <div class="taskName d-flex justify-content-between">
            <h3 class="tasknametitle">
              <mat-checkbox></mat-checkbox> &nbsp; &nbsp;{{ items.TaskName }}
            </h3>
            <button
              class="btn"
              mat-raised-button
              disabled
              style="background-color: #f7d6d0; color: red"
            >
             <p> {{ items.Priority }} </p>
            </button>
          </div>
          <h4 class="mx-4">{{ items.ListName }}</h4>
          <mat-divider></mat-divider>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>

</div>
