$background: #ffffff;
$border: 1px solid #e3e3e3;
$border-radius: 10px;
$width: 100%;
$height: auto;
$color: #828282;
$zeroPx: 0px;
$oneEighty:180px;
$black:black;
$two50PX:250px;
$fortyPx:40px;
$red: red;
$grey: grey;
$align_center: center;
$WCCC: #ccc;
$negative130px:-130px;
$zer0:0;
$hundredPx:100px;
$twelvePx:12px;
$thirtyPx:30px;

