<!-- Overview section  -->
<div class="wrapper ">
  <h1 class="title ">{{title}}</h1>
  <div class="row d-flex flex-row justify-content-between flex-wrap">
    <div class="card p-4 d-flex justify-content-start flex-row overview-card">
      <div class="cardimg d-flex flex-row justify-content-between flex-wrap">
        <img src="{{ image1 }}" />
      </div>
      <div class="content">
        <h2 class="subtitle">Today's tasks</h2>
        <h1 class="title">1</h1>
      </div>
    </div>

    <div class="card p-4 d-flex justify-content-start flex-row overview-card">
      <div class="cardimg">
        <img src="{{ image2 }}" />
      </div>
      <div class="content">
        <h2 class="subtitle">Upcoming tasks</h2>
        <h1 class="title">2</h1>
      </div>
    </div>

    <div class="card p-4 d-flex justify-content-start flex-row overview-card">
      <div class="cardimg">
        <img src="{{ image3 }}" />
      </div>
      <div class="content">
        <h2 class="subtitle">Overdue tasks</h2>
        <h1 class="title">2</h1>
      </div>
    </div>
  </div>
</div>
